$primary-color: #b71c1c;
$primary-white: #ffebee;
$complementary-green: #43a047;
$complementary-brown: #3e2723;

$medium-screen-size: 768px;
$large-screen-size: 992px;

$wood-border-size: 30px;
$wood-border-size-medium: 40px;
$wood-border-size-large: 50px;
