{
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors"
  ],
  "parser": "babel-eslint",
  "settings": {
    "react": {"version":  "detect"}
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": "off",
    "indent": ["error", 4],
    "max-len": ["error", 120],
    "react/jsx-indent": ["error", 4],
    "react/jsx-filename-extension": "off"
  },
  "plugins": [
    "import",
    "jest",
    "jsx-a11y",
    "react",
    "react-hooks"
  ]
}
